@page "/venues"

@using RSAllies.Client.HelperTypes
@using RSAllies.Contracts

@inject ApiClient ApiClient

<PageTitle>Venues</PageTitle>

<div class="div-card">
    
    <div class="div-card-part1">
        <p style="font-family: FesterHeavy;font-size: 30px">Test Centers</p>
        <p style="font-family: FesterHeavy; font-size: 30px;">Across All Regions in Tanzania</p>
        <br/>
        <p style="font-family: 'Segoe Print';color:#FF6653;font-weight:600;">Our test centers are equipped with the latest technology and are designed to provide a conducive environment for our candidates to take their exams.</p>
        <br />
        <FluentStack Orientation="Orientation.Horizontal">
            <FluentAnchor Href="venues/add-venue">Add Venue</FluentAnchor>
            <FluentAnchor Href="">Sessions</FluentAnchor>
        </FluentStack>
    </div>

    <img src="/Images/centre.jpg" style="border-radius:8px;"/>

</div>

<div class="second-card">
    <FluentCard Width="80%" Height="100px">
        <h4>Region</h4>
        <FluentCombobox AriaLabel="Pre-selected option" Items="@_names" @bind-Value="@_name" Width="100%"/>
    </FluentCard>
</div>

<FluentStack Orientation="Orientation.Vertical" VerticalGap="10" Style="margin-top:20px">
    @foreach (var venue in _venues)
    {
        <FluentCard>
            @venue.Name
            @venue.Address
            @venue.Capacity
        </FluentCard>
    }
</FluentStack>


@code {

    string _name = "All";

    readonly List<string> _names = ["Option 1", "Option 2", "Option 3"];

    List<VenueDto>? _venues = [];

    protected override async Task OnInitializedAsync()
    {
        var venues = await ApiClient.GetVenuesAsync();
        _venues = venues?.Value;
    }

}
